# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\projects\pythonProject1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
at_alsv_pro/.idea/SearchImage.iml
at_alsv_pro/.idea/misc.xml
at_alsv_pro/.idea/workspace.xml
at_alsv_pro/.idea/vcs.xml
at_alsv_pro/.idea
